body {
    background-color: #EBF2FA;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.query-container {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    height: 600px;
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0
    height: 100%;
    max-width: 100%;
    padding-top: 60px;
}

button {
    align: right;
}